body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.produs-wrapper {
    width: 200px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid gray;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 5px 5px 10px lightgray;
}

.form-title {
    align-self: center;
    margin: 0;
}

.form-wrapper {
    font-family: sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
    padding-top: 30px;
    margin-bottom: 50px;
    width: 180px;
    display: flex;
    flex-direction: column;
}

.form-wrapper p {
    margin-bottom: 5px;
}

input {
    border-width: 1px;
    border-radius: 5px;
}

button {
    background-color: #0483aa;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    border: none;
    padding: 5px 12px;
    margin-top: 20px;
    border-radius: 25px
}

button:hover {
    transition: 0.5s;
    background-color: #0483aad2;
}

table {

    border-collapse: collapse;
    width: 80%;
}

table td,
table th {
    padding-left: 10px;
    border: 1px solid #ddd;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table th {
    text-align: left;
    background-color: #0483aa;
    color: white;
}

table h3,
h2 {
    margin: 4px;
}