.produs-wrapper {
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.produs-wrapper h2 {
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px;
}

.wrapper {
    margin-top: 100px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-title {
    font-weight: 300;
    margin-bottom: 30px;
}

.form-wrapper {
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    margin-bottom: 10px;
}

.table {
    width: 40vw;
}

.btn-td {
    width: 0;
}

.btn-wrapper {
    display: flex;
}

.btn-back {
    position: absolute;
    top: 30px;
    left: 30px;
}