<% layout('boilerplate/layout.ejs') %>
    <div class="form-wrapper">
        <h2 class="form-title">Adauga produs</h2>
        <form action="/produse" method="POST">
            <p>Nume</p>
            <input required type="text" name="nume">
            <p>Cantitate</p>
            <input required type="text" name="cantitate">
            <button>Submit</button>
        </form>
    </div>
    <table>
        <tr>
            <th>
                <h2> Nume</h2>
            </th>
            <th>
                <h2>Cantitate</h2>
            </th>
        </tr>
        <% for(let produs of produse) { %>
            <tr>
                <td>
                    <h3>
                        <%= produs.nume %>
                    </h3>
                </td>
                <td>
                    <h3>
                        <%= produs.cantitate %>
                            pcs
                    </h3>
                </td>
            </tr>
            <% } %>
    </table>