<% layout('boilerplate/layout.ejs') %>
    <div class="produs-wrapper">
        <h1>
            <%= produs.nume %>
        </h1>
        <h1>
            <%= produs.cantitate %> pcs
        </h1>
    </div>